In [1]:
import pandas as pd
import numpy as np

In [4]:
dates = pd.date_range('20200625', periods=6)
dates

In [2]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['A','B','C','D'])
df

          A         B         C         D
0  0.295247 -0.503945  0.371226 -1.821883
1  1.734762  0.010475 -0.054582  0.217004
2  0.768611 -0.348559  1.812072 -0.035341
3  0.467998 -0.240855  2.227712  0.331644
4  0.693415 -0.037156  0.761301 -1.394654
5 -0.834135  0.656882  1.431534  0.009005

In [3]:
df2 = df.copy()
df2
# df는 기본적으로 행, 열의 위치값을 가지고 있음
# '기본적으로 가지고 있는 위치값(index)'를 이용하여 조작하는 경우 iloc[]를 사용!
# 일부 그래프나 분석 시 특정항목을 index항목으로 수동으로 설정해야하는 경우가 있음
# 특정 항목을 index항목으로 설정가능한 경우는 unique/not null인 값을 가지는 항목만 설정 가능!
# user_id, bbs_id pk조건과 일치!

In [ ]:
df2.reset_index(inplace=True)
df2

In [8]:
df2.set_index('index', inplace=True)
df2

NameError: name 'index' is not defined

In [ ]:
df2['E'] = df2['A'] + 1 # 브로드캐스팅

In [7]:
df2.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df2['E']

In [ ]:
df2['F'] = 0
df2['F']

In [ ]:
df2['G'] = range(0, 6)
df2['G']

In [ ]:
# 인덱스를 변경하고 싶은 경우, 기존의 인덱스를 살리고 싶으면
# 먼저 reset_index()하고 나서 해야함
# reset을 안하는 경우 기존 index는 사라짐
df2.set_index('G', inplace=True)

In [ ]:
df2

In [ ]:
df2.columns

In [9]:
df3 = df.copy()
df3

          A         B         C         D
0  0.295247 -0.503945  0.371226 -1.821883
1  1.734762  0.010475 -0.054582  0.217004
2  0.768611 -0.348559  1.812072 -0.035341
3  0.467998 -0.240855  2.227712  0.331644
4  0.693415 -0.037156  0.761301 -1.394654
5 -0.834135  0.656882  1.431534  0.009005

In [10]:
# E항목을 파생변수로 만드세요. 1~10 범위 값
# F항목을 파생변수로 만드세요. A열과 C열의 합
# H항목을 파생변수로 만드세요. 1로 설정
# Z항목을 파생변수로 만드세요. 1~9까지 랜덤한 값으로 설정

In [ ]:
df3['E'] = range(1, 11)

In [ ]:
df3['F'] = df3['A'] + df3['B']

In [ ]:
df3['H'] = 1

In [14]:
import random

In [18]:
a = []
for a in range(10):
    a += random.randint(1, 10)
a

19

In [ ]:
df3['Z'] = random.randint(1, 10)